<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.compete6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".news.NewDeActivity"></activity>
        <activity
            android:name=".RegisterActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.tab.FenleiJieshaoActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.tab.FenleiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.tab.ResultActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.tab.SearchActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.tab.LajiNewsDeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.zhengfu.NewSuqiuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.zhengfu.SuqiuDeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.zhengfu.SuqiuListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.qingnian.NeirRongActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.qingnian.RencaiDeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.qingnian.YizhanDeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.shuzi.PInglunActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.shuzi.SHuziDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.zhengfu.ZhengfuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.laji.LajiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.qingnian.QingnianActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.shuzi.ShuziActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.worktab.tab.ToudiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.worktab.tab.JianliActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.worktab.tab.JobDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.worktab.WorkTabActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.moneytab.tab.PhoneHistoryActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.moneytab.tab.JiaofeiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.moneytab.MoneyTabActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.metrotab.tab.AllLinesActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.metrotab.tab.MetroDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.zixun.FuwuPingjiaActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.zixun.ZixunDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.zixun.ZixunActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.LvshiDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.AllLvshiListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.LvshiListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.tab.FlzcListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.aixin.tab.AixinItemListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.aixin.tab.AixinDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.lvshi.LvshiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.aixin.AixinActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.wuliutab.tab.AnnTousuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.wuliutab.tab.TousuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.wuliutab.tab.WuliuyundanActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.wuliutab.tab.WuliudetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.congwutab.cwtab.AnliDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.congwutab.cwtab.WenDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.congwutab.cwtab.WenzhenActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.congwutab.cwtab.FindDoctorActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.tab.ThemeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.wuliutab.WuliuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.metrotab.MetroActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.congwutab.CongwuActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.yuyue.tab.MyYueyueActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.yuyue.tab.CarLijiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.yuyue.tab.CarGunaliActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.zhiyuan.tab.PartyDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.zhiyuan.tab.MyPartyActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.zhiyuan.tab.ZhiyuanPartyActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".per.tab.PerFeedActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".per.tab.PerPwdActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".per.tab.PerOrderActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".per.tab.PerInforActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".make.tab.JizhongActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".make.tab.XunjianActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".make.tab.PingtaiActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".make.tab.YuyueylActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".make.tab.JiankangActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.movie.MovieListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.movie.MovieListDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.bus.BusFourthActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.bus.BusThirdActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.bus.SecondActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.bus.BusDetailActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.zhiyuan.ZhiyuanActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.yuyue.YuyueActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.movie.MovieTabActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.bus.BusTabActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.tab.BannerTab2Activity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.tab.BannerTab1Activity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".home.tab.BannerTab0Activity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>